<div class="container">
  <h2>Customers</h2>
  <div class="customer-list">
    <div *ngFor="let customer of customers" class="customer">
      <div class="customer-details">
        <p class="name">{{ customer.name }}</p>
        <p class="email">{{ customer.email }}</p>
        <p class="phone">{{ customer.phoneNumber }}</p>
        <p class="address">{{ customer.address }}</p>
      </div>
      <div class="actions">
        <a routerLink="/edit-customers/{{ customer.id }}">Edit</a>
        <button (click)="deleteCustomer(customer.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
